p  {
    color: rgb(10, 8, 8);
    font-weight: 500;
    letter-spacing:.1em;
    font-size: 0.9rem;
    font-weight: 600;
    margin: .5rem 1rem 1.5rem;	
    text-align: center;
    -webkit-text-stroke: 0.3px black;
   }
   body {
    background-color: rgb(179, 173, 224);
    color: rgb(2, 12, 1);
    text-transform: none; 
    overflow-x: hidden;
   }
   .bg{
    width: 100%;
    height: auto;
    background: url("https://www.martijn-cv.nl/achtergrond.jpg") no-repeat center;
    background-size: 100% 100%;
    background-position: top center;
  }