
<div style="text-align: center;">
        <h2>CV van Martijn Stokkel</h2> 
               <p>
                       Welkom op de website van mij, Martijn Stokkel. Hier kunt u informatie vinden over mij en mijn projecten. Wilt u meer over mij weten of heeft u andere vragen kunt u contact met mij opnemen via <a href="https://www.linkedin.com/in/martijn-stokkel"target="_blank">linkedIn</a>
 <br> <br>      De code voor deze website is terug te vinden op mijn <a href="https://www.github.com/martijnstokkel"target="_blank">github</a>         
               
               </p></div>
      
