<p>Pokeren is op dit moment één van mijn belangrijkste hobby’s. De uitdaging, de interactie en natuurlijk de kans om veel geld te verdienen maakt het voor mij iets waar ik echt van kan genieten. Ik ben opgegroeid met kaartspellen en ben hier tot aan de dag van vandaag mee door gegaan.
      <br>
       <br> Naast pokeren speel ik ook graag oude games zoals bijv. runescape. Deze spelletjes zijn ideaal om te spelen terwijl ik aan het programmeren ben thuis.  Ik kan hier een goede balans in vinden.
      <br>
       <br> Reizen is mijn andere belangrijke hobby. Na een wereldreis gemaakt te hebben rond de wereld is de travelbug bij mij er echt in geslagen. Mijn uiteindelijke doel is om op ieder continent geweest te zijn en heb nu alleen nog zuid en noord Amerika te gaan. Reizen maakt het voor mij vooral leuk door nieuwe culturen te leren kennen en de meeste prachtige en leuke mensen te ontmoeten waar ik een hoop van kan leren. Ik kijk nu alweer uit naar mijn volgende reis die mij waarschijnlijk naar Scandinavië stuurt.
        </p>
