<header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Snake</h3>
      <nav class="nav nav-masthead justify-content-center">
      <!-- <a class="nav-link" routerLink="RapportageHistorie" [routerLinkActive]="['active']">Zoek</a> -->
      <a class="nav-link" routerLink="snake" [routerLinkActive]="['active']">Speel snake</a> 
      <br>
      <a class="nav-link" routerLink="aanmelden" [routerLinkActive]="['active']">Aanmelden</a>
      <br>
      
      <a class="nav-link" routerLink="Userpage" [routerLinkActive]="['active']">Userpage</a>
      </nav>
    </div>
    <div>
      <form #aanmelden="ngForm" (ngSubmit)="logout()"  >
        <table>
         
          <tr>   
            <button type="submit" class="btn btn-primary">Logout</button>
            
          </tr>
        </table>
      </form>
    </div>
  </header>
